@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px;
  display: flex;
}
.leftSection {
  width: 40%;
}
.leftSection img {
  width: 100%;
}
.rightSection {
  width: 60%;
  padding-left: 30px;
}
#name {
  font-weight: 400;
  font-size: 44px;
  letter-spacing: -2px;
  margin-top: -10px;
}
p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(27, 25, 25);
}
#price {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #009688;
}
#description {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #86939e;
  letter-spacing: 0px;
}
.smallImages img {
  margin: 5px;
  width: 15%;
  height: 30%;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
}
.button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  background-color: #009688;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
}
.button:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}
.active {
  border: 2px solid #009688;
}
